node_modules/
backup/
coverage/
.vscode/
.vs/
.idea/workspace.xml
*.zip
*.map
package-lock.json

.gamegold/testnet/mempool.ldb/
.gamegold/testnet/chain.ldb/
.gamegold/testnet/spvchain.ldb/
.gamegold/testnet/walletdb.ldb/
.gamegold/testnet/debug.log
.gamegold/testnet/hosts.json
.gamegold/testnet/wallet.log
.gamegold/main/mempool.ldb/
.gamegold/main/chain.ldb/
.gamegold/main/spvchain.ldb/
.gamegold/main/walletdb.ldb/
.gamegold/main/debug.log
.gamegold/main/hosts.json
.gamegold/main/wallet.log

logs/gamegold
logs/ios1
/.idea
