<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>模拟游戏</title>
	<link rel="stylesheet" href="css/amazeui.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="js/common.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/amazeui.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/gamegold.cp.js"></script>
	<style>
		.card {
			/*height:200px;*/
			border-radius:12px;
			background-color:blanchedalmond;
			-moz-border-radius: 12px; 
			-webkit-border-radius: 12px; 
			margin-top: 8px;
            margin-left: 4px;
            margin-right: 4px;
			padding:8px 12px 12px 12px;
			font-size:14px;
		}
        .game {
            /*background-image:url(images/background.jpg);*/
            background-repeat:no-repeat; 
            background-size:100% 100%;-moz-background-size:100% 100%;
            height:512px;
            width:384;
            background-color:beige;
        }
        body {
            background-color:beige;
        }
        .card-background {
            background-color:beige;
        }
        span {font-size:18px}
	</style>
</head>
<body>
<div class="container" id="mainVue">
    <!-- 导航条 -->
    <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
        <ul class="am-tabs-nav am-cf" style="background-color:beige;">
                <li v-for="item in tabsNavs" v-bind:class="item.cls"><a v-bind:href="item.href" v-text="item.label" @click="onSwitchTab(item)"></a></li>
        </ul>
    </div>        
    <div class="gray-panel" v-if="tabIndex==0" style="background-color:beige;">
        <!-- 游戏主页 -->
        <div id="divHome" class="card"></div>
    </div>
    <div id="divProp" class="gray-panel" v-if="tabIndex==1" style="background-color:beige;">
        <!--道具商城在这里-->
    </div>
    <!-- 道具背包 -->
    <div id="divMyPropList" class="card" style="background-color:beige;" v-if="tabIndex==2"></div>
    <div id="divProp" class="gray-panel" v-if="tabIndex==3" style="background-color:beige;"></div>
</div>
<div id="alert"></div>
<script>
    var localhost = 'http://127.0.0.1:9701'; //对外发布时需要修改为目标服务器外网地址
    var mainVue = new Vue({
        el: '#mainVue',
        data: { 
            //导航条配置信息
            tabsNavs: [
                {label:"主界面",href:"#", cls:"am-active", id:0},
                {label:"道具商城",href:"#", cls:"", id:1},
                {label:"我的道具",href:"#", cls:"", id:2},
                {label:"钱包",href:"#", cls:"", id:3},
            ],
            tabIndex: 0,        //导航索引
            cp: {},             //CP信息
            user: {},           //用户信息
            myProps: [],        //道具列表
        },
        methods: {
            //切换导航
            onSwitchTab: function(item) {
                var that = this;
                var _item = item;
                that.tabIndex = _item.id;
                for(var i=0; i<this.tabsNavs.length; i++) {
                    this.tabsNavs[i].cls = "";
                    if(this.tabsNavs[i].id == _item.id) {
                        this.tabsNavs[i].cls = "am-active";
                    }
                }
                if(that.tabIndex == 0) {        //游戏主界面
                    homeInfo();
                } else if(that.tabIndex == 1) { //游戏商城界面
                    propInfo();
                } else if(that.tabIndex == 2) { //我的道具
                    myPropList();
                } else if(that.tabIndex == 3) {
                    // 返回钱包
                    window.location.href = `http://wallet.vallnet.cn/?openid=${mainVue.user.openid}&openkey=${mainVue.user.openkey}&token=${mainVue.user.token}`;
                }
            },
        }
    });
</script>
<script>
    jQuery(function($) {
        $(document).ready(function(e) {
            //页面加载完成
            homeInfo();
        });
    });
</script>
<script>
    /**
     * 模拟游戏首页，显示当前游戏基本信息
     */
    function homeInfo() {
        $("#divProp").empty();
        $("#divHome").empty();
        $("#divMyPropList").empty();

        var params=location.search.substring(1).split("&");
        mainVue.cp.cp_name = params[0].split('=')[1];
        mainVue.cp.cid = params[1].split('=')[1];
        mainVue.user.uid = params[2].split('=')[1];
        mainVue.user.openid = params[3].split('=')[1];
        mainVue.user.openkey = params[4].split('=')[1];
        mainVue.user.token = params[5].split('=')[1];

        $.ajax({
            type: "GET",
            url: `${localhost}/mock/${mainVue.cp.cp_name}`,
            success: function(result) {
                var sDiv = `<div class='card'><table>
                    <tr>
                        <td><img src='${result.game.icon_url}' style='width:320px;height:240px;' /></td>
                    </tr>
                    <tr>
                        <td><p>游戏名称：<span >${result.game.game_title}</span></p><p>游戏类型：<span >${result.game.cp_type}</span></p><p>游戏描述：<span >${result.game.desc}</span></p></td>
                    </tr>
                    </table></div>`;

                $("#divHome").append($(sDiv));

                $.ajax({
                    type: "GET",
                    url: `${localhost}/mock/${mainVue.cp.cp_name}/user/${mainVue.user.uid}`,
                    success: function(result) {
                        console.log('user auth');
                    }
                });
            }
        });
    }

    /**
     * 游戏商城列表(预售商品列表)
     */
     function propInfo() {
        $("#divProp").empty();
        $("#divHome").empty();
        $("#divMyPropList").empty();

        $.ajax({
            type: "GET",
            url: `${localhost}/mock/${mainVue.cp.cp_name}`,
            success: function(result){
                for (let item of result.proplist) {
                    let sDiv = `<div class='card'><table>
                        <tr>
                            <td><img src='${item.icon}' style='width:120px;height:120px;' /></td>
                            <td style='width:25px'></td>
                            <td>
                                <p>名称：<span>${item.props_name}</span></p>
                                <p>价格：<span>${item.props_price/100000}Kg</span></p>
                                <p>道具含金量：<span>20%</span></p>
                            </td>
                        </tr>
                        <tr><td style='height:15px'></td></tr>
                        <tr>
                            <td><button type='button' class='am-btn am-btn-warning am-radius' onclick='buy(\"${item.id}\",${item.props_price},\"${item.icon}\",\"${item.props_name}\")'>购买道具</button></td>
                        </tr>
                        </table></div>`;
                    $("#divProp").append($(sDiv));
                }
            }
        });
    }

    /**
     * 发起购买道具请求，服务端收到后，将通过 sys.notify 发送订单，用户再通过钱包支付
     */
    function buy(id, price, icon, props_name) {
        $.ajax({
            type: "POST",
            url: `${localhost}/mock/${mainVue.cp.cp_name}/order`,
            data: {
                "oid":id,
                "cid":mainVue.cp.cid,
                "uid": mainVue.user.uid,
                "price":price,
                "url":icon,
                "props_name":props_name
            },
            success: function(result){
                alert("道具已经在路上，稍后请到“我的道具”查看！");
            }
        });
    }

    /**
     * 我的道具背包 /mock/cp0104/myProps/tb1qrs5u2gzzfzud4at2xf6q8ka8ajsl4cyxnn6wrz
     */
	function myPropList() {;
        $("#divProp").empty();
        $("#divHome").empty();
        $("#divMyPropList").empty();

        $.ajax({
            type: "GET",
            url: `${localhost}/mock/${mainVue.cp.cp_name}/myProps/${mainVue.user.uid}`,
            success: function(result) {
                console.log('myPropList', JSON.stringify(result.data));
                for (var i=0; i<result.data.length; i++) {
                    var sDiv = `<div class='card'><table>
                        <tr>
                            <td><img src='${result.data[i].icon}' style='width:120px;height:120px;' /></td>
                            <td style='width:25px'></td>
                            <td>
                                <p>名称：<span>${result.data[i].props_name}</span></p>
                                <p>价格：<span>${result.data[i].props_price/100000}Kg</span></p>
                                <p>道具含金量：<span>${result.data[i].gold/100000}Kg</span></p>
                            </td>
                        </tr>
                        <tr><td style='height:15px'></td></tr>
                        </table></div>`;

                    $("#divMyPropList").append($(sDiv));
                }
            }
        });
    }
</script>
</body>
</html>